/*!--------------------- GENERALI ---------------------*/
body {
    font-family: 'Amita', cursive;
    font-size: 20px;
}
ul {
    list-style-type: none;
}
/*!--------------------- UTILITIES ---------------------*/
.classicStyle {
    text-shadow: 1px 1px 30px rgb(255, 0, 0), 0 0 1em rgb(255, 0, 85), 0 0 0.2em rgb(255, 208, 0);
}
.classicStyle-2 {
    color: whitesmoke;
    text-shadow: 1px 1px 30px rgb(255, 0, 0), 0 0 1em rgb(255, 0, 85), 0 0 0.2em rgb(255, 208, 0);
}
.classicStyle-3 {
    font-weight: bold;
    color: rgb(255, 166, 0);
    text-shadow: 1px 1px 0px rgb(255, 255, 255), 0 0 1em rgb(255, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}
.boxSdw {
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue;
}
.boxSdw-2 {
    box-shadow: 1px 1px 50px rgb(0, 0, 0), 0 0 1em blue;
}
/*^----------------------- HEADER ---------------------*/
header {
    padding: 10px;
    margin: 15px 0px;
    background: linear-gradient(-90deg, green, #ee7752, #e73c7e, goldenrod, black);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: gradient 15s ease infinite;
    position: sticky;
    top: 0;
    z-index: 2;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/**-- Nav / Containers--*/
div a img {
    height: 90px;
    width: 130px;
}
#logoPrincipale{
    padding: 20px;
}
#burgerMenu,
#closeMenu {
    font-size: 40px;
    cursor: pointer;
    padding: 0px 20px;
}
ul li a {
    color: white;
    border-radius: 20px;
    padding: 20px;
}
#officialMenu li a:hover {
    background: linear-gradient(-90deg, rgb(206, 15, 164), #001aff, #000000, goldenrod, rgb(255, 0, 0));
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: gradients 15s ease infinite;
    border-radius: 20px;
    padding: 0px 20px;
}
@keyframes gradients {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*~----------------------------------------------------*/
/*^------------------------ MAIN ----------------------*/
/**-- Slide Jumbotron--*/
#padreTitoli {
    position: relative;
}
#titolos {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 2;
}
#titolo {
    position: relative;
    color: black;
}
#titolo::before {
    content:attr(data-text);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    max-width: 23em;
    color: white;
    text-shadow: 1px 1px 30px rgb(255, 0, 85), 0 0 0.2em rgb(255, 208, 0);
    animation: movimento 14s infinite;
    animation-direction:alternate;
}
@keyframes movimento {
    0% {max-width:0;}
}
#carouselExampleAutoplaying {
    height: 400px;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (min-width: 900px) {
    #gallery {
        height: 500px;
        object-position: -400px -135px ;
    }
}
/**-- Story Section--*/
#storySection {
   background-image: url("../img/384498.png");
   background-size: 130%;
}
@media screen and (min-width: 1200px){
    #storySection {
        height: 500px;
        background-size: 100%;
    }
    #storySection p {
        line-height: 50px;
    }
}
/**-- List PG Section--*/
#listPg {
background-image: url("../img/wallpaperbetter.jpg");
    background-size: 200%;
    background-position: center;
}
/**-- Crea PG Section--*/
#pgSection {
    background-image: url("../img/digital-art-warrior-knight-horse-shield-Sun-1512243-wallhere.com.jpg");
    background-size: 275%;
    background-position: center ;
    background-repeat: no-repeat;
} 
@media screen and (min-width:768px) {
    #pgSection {
        background-size: 200%;
    }
}
@media screen and (min-width:1200px) {
    #pgSection {
        background-size: 120%;
    }
}
#pgSection h2 {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red; ;
    color: goldenrod;
}
#pgSection h3,button {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red; ;
    color: white;
}
.dimensionPg {
    width: 400px;
    height: 400px;
}
.radiusCard {
    border-radius: 40px;
    border: 1px solid black;
    width: 400px;
    height: 600px;
    background: linear-gradient(-90deg, rgb(206, 15, 164), #001aff, #000000, goldenrod, rgb(255, 0, 0));
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: animazionegradiente 15s ease infinite;
}
#btn {
    background-color: goldenrod;
    border-radius: 30px;
}
#btn:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue; ;
}
@keyframes animazionegradiente {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.perImg {
    object-fit: cover;
}
#risultato {
    background-image: url("../img/wallpaperbetter.jpg");
    background-size: 210%;
    background-position: center;
    background-repeat: no-repeat;
}
/**-- Campo Minato Lv1 Section--*/
#campoMinato {
    background-image: url("../img/wallpaperbetter.jpg");
    background-size: 200%;
    background-position: center;
}
#btn2 {
    background-color: goldenrod;
    border-radius: 30px;
    width: 400px;
}
#btn3
{
    background-color: goldenrod;
    border-radius: 30px;
    width: 400px;
}
#btn2:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue; ;
}
#btn3:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue; ;
}
#campoM button {
    width: 70px;
    height: 70px;
    border: 1px solid white;
    color: white;
    background-color: black;
}
#popup {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 188, 211, 0.815);
    position: fixed;
    top: 0;
    left: 0;
}
#popup.activeDue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#popup p {
text-align: center;
font-size: 50px;
}
#popup button {
    height: 100px;
    margin-top: 100px;
    width: 200px;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    font-size: 40px;
}
#popup button:hover {
    border: 4px solid black;
}
/**-- Dadi Lv2 Section--*/
#lastGame {
    background-image: url("../img/wp3161107-tamriel-map-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#playDadi {
    background-color: goldenrod;
    border-radius: 30px;
}
#playDadiDue {
    background-color: goldenrod;
    border-radius: 30px;
}
#playDadi:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue; ;
}
button.ricompensa:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 20px rgb(255, 0, 0), 0 0 1em blue; ;
}
.lastBck {
    background-image: linear-gradient(rgb(114, 93, 0) , rgb(114, 93, 0));
    border-radius: 60px;
    padding: 30px;
}
.bckGoldRad {
    background-color: goldenrod;
    border-radius: 30px;
}
/*~----------------------------------------------------*/
/*^------------------------ FOOTER ----------------------*/
/**-- Footer Ricompensa --*/
#ricompensa img {
width: 200px;
height: 200px;
}
#ricompensa {
    background: linear-gradient(-90deg, rgb(206, 15, 164), #001aff, #000000, goldenrod, rgb(255, 0, 0));
    background-size: 400% 400%;
    background-repeat: no-repeat;
    animation: animazionegradiente2 15s ease infinite;
}
@keyframes animazionegradiente2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}